interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://cg5.caldwellgroup.us:20001/SYSPROWCFService/rest/GetLogonProfile?UserId=90C1386560F2A345961C2153151C050200
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"Windows-1252\"?>\n<UserInfo>\n\
        <CompanyId>A</CompanyId>\n<CompanyName>Demo for Enhanced Trading</CompanyName>\n\
        <OperatorCode>MC_CSI</OperatorCode>\n<OperatorName>Michael Caldwell (832)660-5937</OperatorName>\n\
        <OperatorGroup>ADMIN</OperatorGroup>\n<OperatorEmailAddress>mcaldwell@csiti.com</OperatorEmailAddress>\n\
        <OperatorLocation>001</OperatorLocation>\n<OperatorLanguageCode>05</OperatorLanguageCode>\n\
        <SystemLanguage>EN</SystemLanguage>\n<AccountingDate>2017-03-14</AccountingDate>\n\
        <CompanyDate>2016-07-03</CompanyDate>\n<DefaultArBranch/>\n<DefaultApBranch/>\n\
        <DefaultBank/>\n<DefaultWarehouse>RM</DefaultWarehouse>\n<DefaultCustomer/>\n\
        <SystemSiteId/>\n<SystemNationalityCode>USA</SystemNationalityCode>\n<LocalCurrencyCode>$</LocalCurrencyCode>\n\
        <CurrencyDescription>Dollar</CurrencyDescription>\n<DefaultRequisitionUser/>\n\
        <XMLtoHTMLTransform>S</XMLtoHTMLTransform>\n<CssStyle>S</CssStyle>\n<CssSuffix/>\n\
        <DecimalFormat>1</DecimalFormat>\n<DateFormat>01</DateFormat>\n<FunctionalRole>01</FunctionalRole>\n\
        <DatabaseType>S</DatabaseType>\n<SysproVersion>7.0</SysproVersion>\n<EnetVersion>7.0</EnetVersion>\n\
        <SysproServerBitWidth>32</SysproServerBitWidth>\n</UserInfo>\n "}
    headers:
      Content-Type: [application/octet-stream]
    status: {code: 200, message: OK}
version: 1
